.container {
  width: 1140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: lightblue; }
  @media (max-width: 470px) {
    .container {
      width: 364px; } }

.tabs:not(:last-child) {
  margin-bottom: 0px; }

header {
  height: 200px;
  background: skyblue; }
  @media (max-width: 470px) {
    header {
      height: 350px; } }
  header .head {
    font-size: 28px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px; }
    @media (max-width: 470px) {
      header .head {
        width: 100%;
        font-size: 20px;
        justify-content: center; } }
  @media (max-width: 470px) {
    header .spMode {
      width: 90%;
      padding-left: 50px; } }
  header .nav {
    width: 100%;
    font-size: 16px; }
    header .nav div {
      width: 120px;
      height: 60px; }
    header .nav .is-active {
      background: white; }
    header .nav a {
      float: center; }
      @media (max-width: 470px) {
        header .nav a {
          float: left; } }
    @media (max-width: 470px) {
      header .nav {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 1fr 1fr; }
        header .nav .br {
          display: none; }
        header .nav div {
          width: 140px;
          height: 30px; }
          header .nav div span {
            font-size: 12pt; } }

main {
  height: 600px;
  background-image: url("../img/main.png");
  background-size: 1150px 600px; }
  @media (max-width: 470px) {
    main {
      height: 465px;
      background-size: 400px 300px; } }
  main .index {
    color: white; }
    @media (max-width: 470px) {
      main .index {
        font-size: 10pt; } }

/* footer */
footer {
  height: 25px;
  background: white; }
  footer .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0; }
  footer .suport {
    box-sizing: border-box;
    width: 200px;
    margin-top: 10px; }
    footer .suport img {
      width: 70%;
      height: 60%; }

a {
  color: white; }

.pickMain {
  width: 500px;
  height: 200px;
  background-image: url("../img/pickMain.png");
  background-size: 100% 100%;
  border: 2px solid red;
  position: absolute;
  top: 590px;
  left: 70px; }
  @media (max-width: 470px) {
    .pickMain {
      height: 200px;
      width: 365px;
      top: 612px;
      left: 0px; } }

.ekimae {
  font-size: 13px;
  height: 35px;
  position: absolute;
  top: 665px;
  left: 185px; }
  @media (max-width: 470px) {
    .ekimae {
      top: 675px;
      left: 90px; } }

.sumiyoshi {
  font-size: 13px;
  height: 35px;
  position: absolute;
  top: 625px;
  left: 170px; }
  @media (max-width: 470px) {
    .sumiyoshi {
      top: 625px;
      left: 100px; } }

.hebitaEast {
  font-size: 13px;
  height: 35px;
  position: absolute;
  top: 617px;
  left: 120px; }
  @media (max-width: 470px) {
    .hebitaEast {
      width: 35px;
      top: 635px;
      left: 55px; } }

.hebitaWest {
  font-size: 13px;
  height: 35px;
  position: absolute;
  top: 617px;
  left: 70px; }
  @media (max-width: 470px) {
    .hebitaWest {
      width: 35px;
      top: 635px;
      left: 17px; } }

.hebitaSouth {
  font-size: 13px;
  height: 35px;
  position: absolute;
  top: 653px;
  left: 90px; }
  @media (max-width: 470px) {
    .hebitaSouth {
      width: 35px;
      top: 675px;
      left: 35px; } }

.kama {
  font-size: 13px;
  height: 35px;
  position: absolute;
  top: 690px;
  left: 120px; }
  @media (max-width: 470px) {
    .kama {
      top: 715px;
      left: 50px; } }

.inai {
  font-size: 16px;
  position: absolute;
  top: 610px;
  left: 300px; }
  @media (max-width: 470px) {
    .inai {
      top: 662px;
      left: 165px; } }

.minato {
  font-size: 16px;
  position: absolute;
  top: 665px;
  left: 290px; }
  @media (max-width: 470px) {
    .minato {
      top: 730px;
      left: 145px; } }

.watanoha {
  font-size: 16px;
  position: absolute;
  top: 670px;
  left: 440px; }
  @media (max-width: 470px) {
    .watanoha {
      top: 730px;
      left: 235px; } }

.hagihama {
  position: absolute;
  top: 525px;
  left: 680px;
  border: solid 2px; }
  @media (max-width: 470px) {
    .hagihama {
      top: 520px;
      left: 220px; } }

.oshika {
  position: absolute;
  top: 640px;
  left: 840px;
  border: solid 2px; }
  @media (max-width: 470px) {
    .oshika {
      top: 560px;
      left: 280px; } }

.ogatsu {
  position: absolute;
  top: 310px;
  left: 740px;
  border: solid 2px; }
  @media (max-width: 470px) {
    .ogatsu {
      top: 410px;
      left: 250px; } }

.kitakami {
  position: absolute;
  top: 260px;
  left: 610px;
  border: solid 2px; }
  @media (max-width: 470px) {
    .kitakami {
      top: 380px;
      left: 200px; } }

.kahoku {
  position: absolute;
  top: 300px;
  left: 300px;
  border: solid 2px; }
  @media (max-width: 470px) {
    .kahoku {
      top: 405px;
      left: 95px; } }

.kanan {
  position: absolute;
  top: 380px;
  left: 100px;
  border: solid 2px; }
  @media (max-width: 470px) {
    .kanan {
      top: 445px;
      left: 45px; } }

.monou {
  position: absolute;
  top: 280px;
  left: 140px;
  border: solid 2px; }
  @media (max-width: 470px) {
    .monou {
      top: 385px;
      left: 30px; } }

/*# sourceMappingURL=main2.css.map */
