@charset "UTF-8";
.spMenu {
  display: none;
  background-color: white;
  text-align: center; }
  @media (max-width: 470px) {
    .spMenu {
      display: block; } }
  .spMenu i {
    float: center; }
  .spMenu #spMenu {
    font-size: 24pt; }

main .main {
  height: 600px;
  display: flex; }
  @media (max-width: 470px) {
    main .main {
      height: 1000px; } }
  main .main .fontSmall {
    font-size: 10pt; }
    @media (max-width: 470px) {
      main .main .fontSmall {
        font-size: 6pt; } }
  main .main .fontSmall2 {
    font-size: 7pt; }
    @media (max-width: 470px) {
      main .main .fontSmall2 {
        font-size: 5pt; } }
  main .main #menu {
    width: 180px;
    height: 600px;
    background-color: white;
    overflow: auto; }
    @media (max-width: 470px) {
      main .main #menu {
        z-index: 20;
        width: 100%;
        height: 250px;
        background-color: white;
        position: absolute;
        top: 380px;
        left: 0px；; } }
    main .main #menu p {
      color: black; }
      @media (max-width: 470px) {
        main .main #menu p {
          font-size: 12pt; } }
      main .main #menu p .fontSmall {
        font-size: 4pt; }
    main .main #menu .button {
      width: 145px;
      margin-left: 15px;
      margin-top: 10px; }
      @media (max-width: 470px) {
        main .main #menu .button {
          height: 50px; } }
  @media (max-width: 470px) {
    main .main #menu.hidden {
      display: none; } }
  main .main .map {
    width: 990px;
    height: 600px;
    background-size: 980px 600px; }
    @media (max-width: 470px) {
      main .main .map {
        z-index: 10;
        width: 390px;
        height: 430px;
        background-size: 380px 430px; } }
    main .main .map P {
      color: black; }
      @media (max-width: 470px) {
        main .main .map P {
          font-size: 6pt; } }
    main .main .map p:hover {
      color: white; }
    @media (max-width: 470px) {
      main .main .map .fontSmall {
        font-size: 3pt; } }
    @media (max-width: 470px) {
      main .main .map .fontSmall2 {
        font-size: 2pt; } }
main #mask {
  position: absolute;
  top: 200px;
  left: 175px;
  width: 975px;
  height: 600px;
  background-color: white;
  opacity: 0.8; }
  @media (max-width: 470px) {
    main #mask {
      z-index: 30;
      top: 380px;
      left: 0px;
      width: 370px;
      height: 435px; } }
main #mask.hidden {
  display: none; }
main .pointTittle {
  height: 80px; }
  main .pointTittle P {
    font-size: 30px;
    text-align: center; }
main .infomation {
  height: 50px; }
  main .infomation .icon {
    width: 60px; }
    @media (max-width: 470px) {
      main .infomation .icon {
        width: 60px; } }
  main .infomation .text {
    width: 120px; }
    @media (max-width: 470px) {
      main .infomation .text {
        display: none; } }
  main .infomation .sign {
    width: 60px; }
    @media (max-width: 470px) {
      main .infomation .sign {
        width: 60px; } }
main .slide {
  height: 300px; }
  @media (max-width: 470px) {
    main .slide {
      height: 200px; } }
  main .slide .pic {
    position: relative;
    background: white; }
main .pointData {
  height: 100px; }
main .under {
  display: flex; }
  main .under nav {
    margin-top: 10px;
    width: 600px; }
    @media (max-width: 470px) {
      main .under nav {
        margin-top: 2px;
        width: 360px; } }
  main .under .subnav {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    main .under .subnav li {
      width: 80px;
      height: 80px;
      cursor: pointer;
      opacity: 0.6; }
      @media (max-width: 470px) {
        main .under .subnav li {
          width: 65px;
          height: 65px; } }
    main .under .subnav li:hover {
      cursor: pointer;
      opacity: 1; }
    main .under .subnav .current {
      opacity: 1; }

.container {
  width: 1140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: lightblue; }
  @media (max-width: 470px) {
    .container {
      width: 364px; } }

.tabs:not(:last-child) {
  margin-bottom: 0px; }

header {
  height: 200px;
  background: skyblue; }
  @media (max-width: 470px) {
    header {
      height: 350px; } }
  header .head {
    font-size: 28px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px; }
    @media (max-width: 470px) {
      header .head {
        width: 100%;
        font-size: 20px;
        justify-content: center; } }
  @media (max-width: 470px) {
    header .spMode {
      width: 90%;
      padding-left: 50px; } }
  header .nav {
    width: 100%;
    font-size: 16px; }
    header .nav div {
      width: 120px;
      height: 60px; }
    header .nav .is-active {
      background: white; }
    header .nav a {
      float: center; }
      @media (max-width: 470px) {
        header .nav a {
          float: left; } }
    @media (max-width: 470px) {
      header .nav {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 1fr 1fr; }
        header .nav .br {
          display: none; }
        header .nav div {
          width: 140px;
          height: 30px; }
          header .nav div span {
            font-size: 12pt; } }

main {
  height: 600px;
  background-image: url("../img/main.png");
  background-size: 1150px 600px; }
  @media (max-width: 470px) {
    main {
      height: 465px;
      background-size: 400px 300px; } }
  main .index {
    color: white; }
    @media (max-width: 470px) {
      main .index {
        font-size: 10pt; } }

/* footer */
footer {
  height: 25px;
  background: white; }
  footer .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0; }
  footer .suport {
    box-sizing: border-box;
    width: 200px;
    padding: 0; }
    footer .suport img {
      width: 50%;
      height: 40%; }

.map {
  background-image: url("../img/monou.png"); }

.icon_traning {
  width: 100px;
  position: absolute;
  top: 445px;
  left: 990px; }
  @media (max-width: 470px) {
    .icon_traning {
      width: 100px;
      height: 25px;
      top: 570px;
      left: 265px; } }

.icon_tsuruha {
  width: 70px;
  position: absolute;
  top: 450px;
  left: 460px; }
  @media (max-width: 470px) {
    .icon_tsuruha {
      width: 50px;
      height: 25px;
      top: 560px;
      left: 90px; } }

.icon_sougo {
  width: 70px;
  position: absolute;
  top: 545px;
  left: 465px; }
  @media (max-width: 470px) {
    .icon_sougo {
      width: 50px;
      height: 25px;
      top: 635px;
      left: 120px; } }

.icon_center {
  width: 80px;
  position: absolute;
  top: 520px;
  left: 380px; }
  @media (max-width: 470px) {
    .icon_center {
      width: 60px;
      height: 25px;
      top: 610px;
      left: 70px; } }

.icon_familyMart {
  width: 80px;
  position: absolute;
  top: 720px;
  left: 280px; }
  @media (max-width: 470px) {
    .icon_familyMart {
      width: 50px;
      height: 25px;
      top: 755px;
      left: 20px; } }

/*# sourceMappingURL=monou.css.map */
