.spMenu {
  display: none;
  background-color: white;
  text-align: center;
}
@media (max-width: 470px) {
  .spMenu {
    display: block;
  }
}
.spMenu i {
  float: center;
}
.spMenu #spMenu {
  font-size: 24pt;
}

main .main {
  height: 600px;
  display: flex;
}
@media (max-width: 470px) {
  main .main {
    height: 1000px;
  }
}
main .main .fontSmall {
  font-size: 10pt;
}
@media (max-width: 470px) {
  main .main .fontSmall {
    font-size: 6pt;
  }
}
main .main .fontSmall2 {
  font-size: 7pt;
}
@media (max-width: 470px) {
  main .main .fontSmall2 {
    font-size: 5pt;
  }
}
main .main .menu {
  width: 180px;
  height: 600px;
  background-color: white;
  overflow: auto;
}
@media (max-width: 470px) {
  main .main .menu {
    width: 100%;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 400px;
    left: 5px;
  }
}
main .main .menu p {
  color: black;
}
@media (max-width: 470px) {
  main .main .menu p {
    font-size: 12pt;
  }
}
main .main .menu .button {
  width: 145px;
  margin-left: 15px;
  margin-top: 10px;
}
@media (max-width: 470px) {
  main .main .menu .button {
    height: 50px;
  }
}
main .main .map {
  width: 990px;
  height: 600px;
  background-image: url("../img/station.png");
  background-size: 980px 600px;
}
main .main .map P {
  color: black;
}
main .main .map p:hover {
  color: white;
}
main .main .map .icon_station {
  width: 90px;
  position: absolute;
  top: 250px;
  left: 480px;
}
main .main .map .icon_cityhall {
  width: 90px;
  position: absolute;
  top: 310px;
  left: 445px;
}
main .main .map .icon_sevenEleven {
  width: 90px;
  position: absolute;
  top: 275px;
  left: 695px;
}
main .main .map .icon_familiyMart1 {
  width: 90px;
  position: absolute;
  top: 255px;
  left: 845px;
}
main .main .map .icon_grandHotel {
  width: 90px;
  position: absolute;
  top: 330px;
  left: 800px;
}
main .main .map .icon_iPlaza {
  width: 90px;
  position: absolute;
  top: 390px;
  left: 830px;
}
main .main .map .icon_raitu {
  width: 90px;
  position: absolute;
  top: 390px;
  left: 680px;
}
main .main .map .icon_lowSon {
  width: 90px;
  position: absolute;
  top: 390px;
  left: 930px;
}
main .main .map .icon_hukkou {
  width: 90px;
  position: absolute;
  top: 510px;
  left: 890px;
}
main .main .map .icon_eyetopia {
  width: 90px;
  position: absolute;
  top: 550px;
  left: 835px;
}
main .main .map .icon_market {
  width: 90px;
  position: absolute;
  top: 560px;
  left: 930px;
}
main .main .map .icon_manga {
  width: 90px;
  position: absolute;
  top: 610px;
  left: 1050px;
}
main .main .map .icon_nakasePark {
  width: 90px;
  position: absolute;
  top: 710px;
  left: 1050px;
}
main .main .map .icon_library {
  width: 90px;
  position: absolute;
  top: 555px;
  left: 400px;
}
main .main .map .icon_playLand {
  width: 90px;
  position: absolute;
  top: 555px;
  left: 185px;
}
main .main .map .icon_helloWark {
  width: 90px;
  position: absolute;
  top: 700px;
  left: 190px;
}
main .main .map .icon_familiyMart2 {
  width: 90px;
  position: absolute;
  top: 750px;
  left: 250px;
}
main .main .map .icon_central {
  width: 90px;
  position: absolute;
  top: 740px;
  left: 575px;
}
main .main .map .icon_hiyoriPark {
  width: 90px;
  position: absolute;
  top: 760px;
  left: 730px;
}

/*# sourceMappingURL=sta.css.map */
