@charset 'utf-8';

/* main */
.main {
    height: 600px;
    display: flex;
}

/* サイドメニュー */
.menu {
    width: 200px;
    height: 600px;
    background-color: white;
    overflow: auto;
}
.button {
    width: 150px;
    margin-left: 15px;
    margin-top: 10px;
}

.fontSmall {
    font-size: 10pt;
}

/* マップメニュー */

.map {
    width: 900px;
    height: 600px;
    background-image: url(../img/station.png);
}
.button.is-info.is-outlined {
    color: black;
}
.button.is-info {
    color: black;
}
.icon_station {
    width: 90px;
    position: absolute;
    top: 180px;
    left: 320px;
}
.icon_cityhall {
    width: 90px;
    position: absolute;
    top: 270px;
    left: 305px;
}
#cityHall {
    margin-right: auto;
    margin-left: auto;
    background: white;
    width: 120px;
    position: absolute;
    top: 190px;
    left: 265px;
    transition: .8s;
}
#cityHall.hidden {
    transform: translate(0, -800px);
}

#mask {
    position: absolute;
    top: 170px;
    left: 200px;
    width: 900px;
    height: 600px;
    background-color: white;
    opacity: 0.8;
}
#mask.hidden {
    display: none;
}

th > P {
    font-size: 30px;
    text-align: center;
}

.pic {
    position: relative;
    background: white;
}

#cityHallprev, #cityHallnext {
    position: absolute;  
    font-size: 60px;
    opacity: 0.6;
    top: 110px;
}
#cityHallprev {
    left: 60px;
}
#cityHallnext {
    right: 60px;
}
  
#cityHallprev:hover, #cityHallnext:hover {
    opacity: 1;
}
#cityHall_target {
    position: absolute;
    top: 30px;
    left: 170px;
}
.under {
    display: flex;
}
.under > nav {
    margin-top: 10px;
    width: 600px;
}
.subnav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.subnav > li {
    width: 80px;
    height: 80px;
    cursor: pointer;
    opacity: 0.6;
}
.subnav > li.current {
    opacity: 1;
}
.subnav > li:hover {
    cursor: pointer;
    opacity: 1;
}
#cityHallBack {
    margin-left: 20px;
    font-size: 60px;
    cursor: pointer;
    opacity: 0.6;
}
#cityHallBack:hover {
    opacity: 1;
}
