@charset 'utf-8';

/* main */
.main{
    height: 600px;
    display: flex;
}
.menu{
    width: 200px;
    height: 600px;
    background-color: white;
}
.button{
    width: 150px;
    margin-left: 15px;
    margin-top: 10px;
}
.map{
    width: 900px;
    height: 600px;
    background-image: url(../img/station.png);
}
.button.is-info.is-outlined{
    color: black;
}
.button.is-info{
    color: black;
}
.station{
    width: 90px;
    position: absolute;
    top: 180px;
    left: 320px;
}
.cityhall{
    width: 90px;
    position: absolute;
    top: 260px;
    left: 285px;
}

#mask{
    position: absolute;
    top: 170px;
    left: 200px;
    width: 900px;
    height: 600px;
    background-color: white;
    opacity: 0.8;
}

table{
    margin-right: auto;
    margin-left: auto;
    background: white;
    text-align: center;
}

#cityhall{
    position: absolute;
    top: 200px;
    left: 270px;
    width: 700px;
    height: 450px;
}