@charset 'utf-8';

.container{
    max-width: 1100px;
    width: 1100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: lightblue;
}
/* header */
header{
    height: 170px;
    background: skyblue;
}
.head{
    box-sizing: border-box;
    width: 400px;
    float: right;
    font-size: 36px
}
.nav{
    padding-top: 40px;
    width: 100%;
    font-size: 18px;
}
li{
    width: 110px;
}

/* main */
.main{
    height: 600px;
    background-image: url(../img/main.png);
}
.ekimae{
    color: white;
    text-align: center;
    position: absolute;
    top: 648px;
    left: 180px;
    width: 70px;
    height: 25px;
    border: solid 2px white;
}
.sumiyoshi{
    color: white;
    text-align: center;
    position: absolute;
    top: 612px;
    left: 155px;
    width: 100px;
    height: 30px;
    border: solid 2px white;
}
.hebita{
    color: white;
    text-align: center;
    position: absolute;
    top: 617px;
    left: 75px;
    width: 50px;
    height: 40px;
    border: solid 2px white;
}
.kama{
    color: white;
    text-align: center;
    position: absolute;
    top: 660px;
    left: 80px;
    width: 100px;
    height: 30px;
    border: solid 2px white;
}
.inai{
    color: white;
    text-align: center;
    position: absolute;
    top: 610px;
    left: 300px;
    width: 50px;
    height: 40px;
    border: solid 2px white;
}
.minato{
    color: white;
    text-align: center;
    position: absolute;
    top: 670px;
    left: 290px;
    width: 60px;
    height: 40px;
    border: solid 2px white;
}
.watanoha{
    color: white;
    text-align: center;
    position: absolute;
    top: 670px;
    left: 440px;
    width: 70px;
    height: 50px;
    border: solid 2px white;
}
.hagihama{
    color: white;
    text-align: center;
    position: absolute;
    top: 525px;
    left: 680px;
    width: 50px;
    height: 50px;
    border: solid 2px white;
}
.oshika{
    color: white;
    text-align: center;
    position: absolute;
    top: 640px;
    left: 840px;
    width: 70px;
    height: 40px;
    border: solid 2px white;
}
.ogatsu{
    color: white;
    text-align: center;
    position: absolute;
    top: 310px;
    left: 740px;
    width: 70px;
    height: 40px;
    border: solid 2px white;
}
.kitakami{
    color: white;
    text-align: center;
    position: absolute;
    top: 260px;
    left: 610px;
    width: 70px;
    height: 40px;
    border: solid 2px white;
}
.kahoku{
    color: white;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 300px;
    width: 70px;
    height: 40px;
    border: solid 2px white;
}
.kanan{
    color: white;
    text-align: center;
    position: absolute;
    top: 340px;
    left: 100px;
    width: 100px;
    height: 50px;
    border: solid 2px white;
}
.monou{
    color: white;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 110px;
    width: 70px;
    height: 40px;
    border: solid 2px white;
}
/* footer */
footer{
    height: 50px;
    background: white;
}
.foot{
    box-sizing: border-box;
    width: 300px;
    float: right;
}


