$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.map {
    background-image: url("#{$imgDir}yamashita2.png");
}

.icon_coop {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_ministop {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_turuha  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}
.icon_york  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_sun  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_homac  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_au  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_daruma  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_syakyo  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}


.icon_softbank  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_lowSon  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_docomo  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_seigetsuki  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_21  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_hisyoukaku  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_police  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_ujie  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}

.icon_yakuodou  {
    width: 90px;
    position: absolute;
    top: 250px;
    left: 480px;

    @include sp {
        width: 60px;
        top: 410px;
        left: 110px;
    }
}