$sp: 470px;  // スマホ
$imgDir: "../img/";

@mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
  }

.spMenu {
    display: none;
    background-color: white;
    text-align: center;

    @include sp {
        display: block;
    }

    i {
        float: center;
    }

    #spMenu {
        font-size: 24pt;
    }
}
main {

    .main {
        height: 600px;
        display: flex;

        @include sp {
            height: 1000px;
        }

        .fontSmall {
            font-size: 10pt;

            @include sp {
                font-size: 6pt;
            }
        }
        .fontSmall2 {
            font-size: 7pt;

            @include sp {
                font-size: 5pt;
            }
        }

// サイドメニュー
        .menu {
            width: 180px;
            height: 600px;
            background-color: white;
            overflow: auto;

            @include sp {
                width: 100%;
                height: 250px;
                background-color: white;
                position: absolute;
                top: 400px;
                left: 5px;
            }

            p {
                color: black;

                @include sp {
                    font-size: 12pt
                }
            }

            .button {
                width: 145px;
                margin-left: 15px;
                margin-top: 10px;

                @include sp {
                    height: 50px;
                }
            }
        }

// マップメニュー
        .map {
            width: 990px;
            height: 600px;
            background-image: url("#{$imgDir}station.png");
            background-size: 980px 600px;

            P {
                color: black;
            }

            p:hover {
                color: white;
            }

            

            .icon_station {
                width: 90px;
                position: absolute;
                top: 250px;
                left: 480px;
            }
            .icon_cityhall {
                width: 90px;
                position: absolute;
                top: 310px;
                left: 445px;
            }
            .icon_sevenEleven {
                width: 90px;
                position: absolute;
                top: 275px;
                left: 695px;
            }
            .icon_familiyMart1 {
                width: 90px;
                position: absolute;
                top: 255px;
                left: 845px;
            }
            .icon_grandHotel {
                width: 90px;
                position: absolute;
                top: 330px;
                left: 800px;
            }
            .icon_iPlaza {
                width: 90px;
                position: absolute;
                top: 390px;
                left: 830px;
            }
            .icon_raitu {
                width: 90px;
                position: absolute;
                top: 390px;
                left: 680px;
            }
            .icon_lowSon {
                width: 90px;
                position: absolute;
                top: 390px;
                left: 930px;
            }
            .icon_hukkou {
                width: 90px;
                position: absolute;
                top: 510px;
                left: 890px;
            }
            .icon_eyetopia {
                width: 90px;
                position: absolute;
                top: 550px;
                left: 835px;
            }
            .icon_market {
                width: 90px;
                position: absolute;
                top: 560px;
                left: 930px;
            }
            .icon_manga {
                width: 90px;
                position: absolute;
                top: 610px;
                left: 1050px;
            }
            .icon_nakasePark {
                width: 90px;
                position: absolute;
                top: 710px;
                left: 1050px;
            }
            .icon_library {
                width: 90px;
                position: absolute;
                top: 555px;
                left: 400px;
            }
            .icon_playLand {
                width: 90px;
                position: absolute;
                top: 555px;
                left: 185px;
            }
            .icon_helloWark {
                width: 90px;
                position: absolute;
                top: 700px;
                left: 190px;
            }
            .icon_familiyMart2 {
                width: 90px;
                position: absolute;
                top: 750px;
                left: 250px;
            }
            .icon_central {
                width: 90px;
                position: absolute;
                top: 740px;
                left: 575px;
            }
            .icon_hiyoriPark {
                width: 90px;
                position: absolute;
                top: 760px;
                left: 730px;
            }
           
        }
    }

}