$sp: 470px;  // スマホ
$imgDir: "../img/";

main {

    .main {
        height: 600px;
        display: flex;

        // P {
        //     color: black;
        // }

// サイドメニュー
        .menu {
            width: 180px;
            height: 600px;
            background-color: white;
            overflow: auto;

            p {
                color: black;
            }

            .button {
                width: 145px;
                margin-left: 15px;
                margin-top: 10px;
            }

            .fontSmall {
                font-size: 10pt;
            }
            .fontSmall2 {
                font-size: 7pt;
            }
        }

// マップメニュー
        .map {
            width: 990px;
            height: 600px;
            background-image: url("#{$imgDir}station.png");
            background-size: 980px 600px;

            P {
                color: black;
            }

            p:hover {
                color: white;
            }

            .icon_station {
                width: 90px;
                position: absolute;
                top: 250px;
                left: 480px;
            }
            .icon_cityhall {
                width: 90px;
                position: absolute;
                top: 310px;
                left: 445px;
            }
            .icon_sevenEleven {
                width: 90px;
                position: absolute;
                top: 275px;
                left: 695px;
            }
            .icon_familiyMart1 {
                width: 90px;
                position: absolute;
                top: 255px;
                left: 845px;
            }
            .icon_grandHotel {
                width: 90px;
                position: absolute;
                top: 330px;
                left: 800px;
            }
            .icon_iPlaza {
                width: 90px;
                position: absolute;
                top: 390px;
                left: 830px;
            }
            .icon_raitu {
                width: 90px;
                position: absolute;
                top: 390px;
                left: 680px;
            }
            .icon_lowSon {
                width: 90px;
                position: absolute;
                top: 390px;
                left: 930px;
            }
            .icon_hukkou {
                width: 90px;
                position: absolute;
                top: 510px;
                left: 890px;
            }
            .icon_eyetopia {
                width: 90px;
                position: absolute;
                top: 550px;
                left: 835px;
            }
            .icon_market {
                width: 90px;
                position: absolute;
                top: 560px;
                left: 930px;
            }
            .icon_manga {
                width: 90px;
                position: absolute;
                top: 610px;
                left: 1050px;
            }
            .icon_nakasePark {
                width: 90px;
                position: absolute;
                top: 710px;
                left: 1050px;
            }
            .icon_library {
                width: 90px;
                position: absolute;
                top: 515px;
                left: 400px;
            }
            .icon_playLand {
                width: 90px;
                position: absolute;
                top: 515px;
                left: 185px;
            }
            .icon_helloWark {
                width: 90px;
                position: absolute;
                top: 670px;
                left: 190px;
            }
            .icon_familiyMart2 {
                width: 90px;
                position: absolute;
                top: 710px;
                left: 250px;
            }
            .icon_central {
                width: 90px;
                position: absolute;
                top: 700px;
                left: 555px;
            }
            .icon_hiyoriPark {
                width: 90px;
                position: absolute;
                top: 720px;
                left: 730px;
            }
           
        }
    }

}